boto==2.8.0
dj-database-url==0.2.1
django-braces==1.0.0
django-debug-toolbar==0.9.4
django-social-auth==0.7.22
Django==1.5.1
FeinCMS==1.7.4
httplib2==0.8
oauth2==1.5.211
python-openid==2.2.5
South==0.7.6
