/* line 9, ../sass/main.sass */
body {
  margin: 0;
  background-color: #0092cf;
}

/* line 13, ../sass/main.sass */
#wrap {
  width: 1040px;
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #cceeff;
  border-right: 1px solid #cceeff;
}

/* line 20, ../sass/main.sass */
.structure {
  padding: 0 15px;
}

/* line 24, ../sass/main.sass */
body {
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 27, ../sass/main.sass */
h1, h2, h3, h4, h5, h6 {
  color: #c41230;
  font-weight: 800;
  margin: 0;
}

/* line 32, ../sass/main.sass */
h1 {
  font-size: 50px;
}
/* line 34, ../sass/main.sass */
h1 span {
  font-weight: 300;
}

/* line 36, ../sass/main.sass */
h2 {
  font-size: 36px;
}

/* line 38, ../sass/main.sass */
h3 {
  font-size: 26px;
}
/* line 40, ../sass/main.sass */
h3 small {
  font-size: 18px;
  float: right;
  margin-top: 8px;
}

/* line 45, ../sass/main.sass */
h4 {
  font-size: 20px;
}

/* line 48, ../sass/main.sass */
p {
  font-size: 14px;
  margin: 10px 0;
}

/* line 52, ../sass/main.sass */
dl {
  font-size: 14px;
}
/* line 54, ../sass/main.sass */
dl dt {
  vertical-align: top;
  display: inline-block;
  width: 100px;
  font-weight: 700;
  margin: 0 0 8px;
}
/* line 60, ../sass/main.sass */
dl dd {
  vertical-align: top;
  display: inline-block;
  width: 135px;
  margin: 0 0 8px;
}

/* line 82, ../sass/main.sass */
.btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cceeff), color-stop(70%, #0092cf), color-stop(100%, #0092cf));
  background-image: -webkit-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -moz-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -o-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -ms-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  -webkit-box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  -moz-box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  background-color: #0092cf;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0px 3px;
  text-decoration: none;
}
/* line 77, ../sass/main.sass */
.btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cceeff), color-stop(70%, #006e9c), color-stop(100%, #006e9c));
  background-image: -webkit-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -moz-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -o-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -ms-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-color: #006e9c;
}

/* line 85, ../sass/main.sass */
nav {
  margin: 25px 0;
  padding: 10px 0;
  background-color: #f5f5f5;
  text-align: center;
}
/* line 90, ../sass/main.sass */
nav a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cceeff), color-stop(70%, #0092cf), color-stop(100%, #0092cf));
  background-image: -webkit-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -moz-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -o-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: -ms-linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  background-image: linear-gradient(#cceeff, #0092cf 70%, #0092cf);
  -webkit-box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  -moz-box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  box-shadow: #0092cf 0 0 5px inset, #ccccff 0 0 2px;
  background-color: #0092cf;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0px 3px;
  text-decoration: none;
}
/* line 77, ../sass/main.sass */
nav a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cceeff), color-stop(70%, #006e9c), color-stop(100%, #006e9c));
  background-image: -webkit-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -moz-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -o-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: -ms-linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-image: linear-gradient(#cceeff, #006e9c 70%, #006e9c);
  background-color: #006e9c;
}

/* line 93, ../sass/main.sass */
a.top {
  position: relative;
  padding-left: 25px;
}
/* line 96, ../sass/main.sass */
a.top:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

/* line 107, ../sass/main.sass */
img {
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
}

/* line 114, ../sass/main.sass */
#site-header {
  margin: 0;
  height: 252px;
  overflow: hidden;
  position: relative;
}
/* line 120, ../sass/main.sass */
#site-header h1 {
  margin: 55px 45px;
}
/* line 123, ../sass/main.sass */
#site-header img {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 230px;
  z-index: 2;
  border-radius: 0;
}
/* line 131, ../sass/main.sass */
#site-header nav {
  position: absolute;
  bottom: 11px;
  width: 100%;
  padding-left: 15px;
  text-align: left;
}

/* line 140, ../sass/main.sass */
.leg img {
  float: right;
  width: 400px;
}

/* line 145, ../sass/main.sass */
table.results {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2px;
}
/* line 152, ../sass/main.sass */
table.results caption {
  color: #c41230;
  font-weight: 800;
  font-size: 18px;
  border-bottom: 1px solid #cccccc;
  margin: 5px 0;
  padding-bottom: 2px;
}
/* line 160, ../sass/main.sass */
table.results tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* line 163, ../sass/main.sass */
table.results tr:last-child td {
  padding-bottom: 4px;
}

/* line 166, ../sass/main.sass */
p.full-results {
  float: right;
}

/* line 171, ../sass/main.sass */
.structure.archers {
  padding-right: 0;
}
/* line 174, ../sass/main.sass */
.structure.archers section {
  margin-bottom: 25px;
}

/* line 177, ../sass/main.sass */
.archer {
  display: inline-block;
  vertical-align: top;
  width: 244px;
  padding-right: 4px;
  margin-right: 4px;
  border-right: 1px solid #cccccc;
}
/* line 184, ../sass/main.sass */
.archer:nth-of-type(4) {
  border-right: 0;
}
/* line 187, ../sass/main.sass */
.archer img {
  width: 224px;
  margin: 0;
}

/* line 192, ../sass/main.sass */
footer {
  padding-bottom: 10px;
}
/* line 195, ../sass/main.sass */
footer .credits {
  text-align: center;
  font-size: 12px;
}
